###> Composer
composer.phar
vendor

###> PHPUnit
app/phpunit.xml
coverage
###> vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

###> phpstorm
.idea/

###> textmate
*.tmproj
*.tmproject
tmtags

###> sublimetext
/*.sublime-project
*.sublime-workspace

###> netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

###> VS Code
.vscode
.code-workspace

###> Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

###> Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

.php_cs
.php_cs.cache

